<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- link css -->
  <link rel="stylesheet" href="../../asset/css/style.css" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css"
    integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-5">
      <div class="container">
        <a class="navbar-brand me-5" href="#">
          <img width="20%" src="../image/c255c800e61e47ec7698ffdc99e50a95.png" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto nav1">
            <li class="nav-item text-center mx-5">
              <a class="nav-link active" href="../../index.html" role="button" aria-haspopup="true"
                aria-expanded="false">
                <div>
                  <i class="fas fa-home fa-xl mb-1"></i>
                </div>
                LOGIN
              </a>
            </li>

            <li class="nav-item text-center">
              <a class="nav-link active" href="./resigter.html" role="button" aria-haspopup="true"
                aria-expanded="false">
                <div>
                  <i class="fa-solid fa-xl fa-user-gear"></i>
                </div>
                REGISTER
              </a>
            </li>
          </ul>
          <ul class="navbar-nav me-auto nav2">
            <li class="nav-item text-center">
              <a class="nav-link js-toggle-cart active" href="./detail.html" role="button" aria-haspopup="true"
                aria-expanded="false">
                <div>
                  <i class="fa-solid fa-xl fa-shopping-cart"></i>
                  <span class="badge rounded-pill badge-notification bg-light text-dark" id="cartCount"></span>
                </div>
                Cart
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="banner-image">
    <div class="container">
      <div class="banner-left">
        <img width="100%" src="../image/eceeac395b345ee158dadabb89414849.png" alt="">
      </div>
      <div class="banner-right">
        <h5>Product name</h5>
        <p>Product description ...</p>
        <button class="btnPname">Buy now</button>
      </div>
    </div>
  </div>
  <main></main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous">
    </script>

  <script>
    // toggle shopping cart
    $('.js-toggle-cart, .cart__overlay').on('click', function () {
      $('.cart').toggleClass('is-hidden');
    });
    // change nav bar color when scroll
    $(window).on('scroll', function () {
      if (this.scrollY > 100) {
        $('nav').addClass('black');
      } else {
        $('nav').removeClass('black');
      }
    });
  </script>

  <script src="../controller/index.js"></script>
</body>

</html>