.resigter {
    div {
        @media screen and (max-width: 576px) {
            width: 100% !important;
        }
    }

    button {
        @media screen and (max-width:576px) {
            width: 100% !important;
        }
    }
}

footer {
    .footer_top,
    .footer_bot {
        .footer_items {
            .footer_item {
                &:nth-child(2) {
                    
                    @media screen and (max-width:576px) {
                        border-left: none !important;
                        border-right: none !important;
                        border-top: 3px solid #ccc;
                        border-bottom: 3px solid #ccc;
                        padding: 20px 0 !important;
                    }
                }

                &:nth-child(1),
                &:nth-child(3) {
                    @media screen and (max-width:576px) {
                        margin: 20px 0;
                    }
                }
            }

            @media screen and (max-width:576px) {
                display: block !important;
            }
            
            
        }
    }
}