* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    // position: relative; 
    min-height: 100%;
    font-size: 16px;
  }
  
  body {
    margin-bottom: 0px;
    background-color: #f7f7f7;
  }
  
  p {
    margin: 0 0 16px;
  }
  
  h2 {
    margin: 0;
  }
  
  .btn {
    // position: relative; 
    border: 0;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: black;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 14px;
    background-color: #294d5c;
    cursor: pointer;
    transition: all 0.15s;
  }
  .btn:hover {
    outline: none;
    background-color: #5f9db8;
  }
  .btn:focus {
    outline: 0;
    box-shadow: none !important;
    /* box-shadow: 0 0 0 2px #404b61, inset 0 0 0 2px #ffffff; */
  }
  .btn:active {
    transform: scale(0.95);
  }
  
  .btn + .btn {
    margin-left: 8px;
  }
  
// --------Navbar-----------

header #navbarColor01 a {
  transition: 0.3s all ease-in-out;
}

header #navbarColor01 a:hover {
  transform: scale(1.15);
}

.nav1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.navbar {
  background-color: black;
}

//----------Banner------------

.banner-left {
  width: 65%;
  margin-left: 30px;
  // background-color: #294d5c;
}

.banner-right {
  width: 35%;
  // background-color: orange;
  padding-left: 20px;
}

.container1 {
  display: flex;
  flex-direction: row;
  background-image: url(../../../index/image/f9ebca7dbf6f82f47b04b073782bb7fb.png);
  background-size: cover;
  margin-top: 40px;
}

// ---------Menu----------

.menu {
  // background-color: #294d5c; 
  padding: 15px;
  margin-top: -48px;


}

.menu a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
  padding-left: 40px;
  font-size: 18px;
}

.btnPname {
  border: none;
  background-color: #F8B653;
  color: white;
  padding: 7px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 24.2px;
}

.Proname {
  text-align: center;
  margin: 24px;
}
// >>>>>>> Stashed changes
// =======

// // <uniquifier>: Use a unique and descriptive class name
// // <weight>: Use a value from 100 to 900

// .inter-<uniquifier> {
//   font-family: "Inter", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "slnt" 0;
// }


 

